* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}

.container {
    max-width: 1500px;
    margin: auto;
}

.navbar,
.hero {
    background-color: #1F2937;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo,
.hero-left h1,
button {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.navbar a,
.hero-left p {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero .container {
    display: flex;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    margin: 12px 0;
}

.hero p {
    margin: 12px 0;
}

.hero img {
    min-height: 50%;
    min-width: 50%;
}

button {
    font-size: 18px;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 10px 25px;
    border: none;
    
}