* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}

.container {
    max-width: 1500px;
    margin: auto;
}

.navbar,
.hero {
    background-color: #1F2937;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo,
.hero-left h1,
button {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    margin: 15px 0;
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.navbar a,
.hero-left p {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero .container {
    display: flex;
    align-items: center;
}

.hero-left h1 {
    font-size: 48px;
}

.hero-left p {
    margin: 10px 0;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    font-size: 18px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;  
}

.hero img {
    max-width: 50%;
    min-height: auto;
}

.cards h2 {
    font-size: 32px;
    text-align: center;
    margin-top: 25px;
}

.talent-cards {
    display: flex;
    flex-wrap: wrap;
}

.idol-cards {
    flex: 1;
    margin: 20px;
}

.profile {
    min-width: 300px;
    min-height: auto;
    border: 5px solid #3882F6;
    border-radius: 15px;
    padding: 12px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.cards img {
    max-height: 400px;
    min-width: auto;
}

.talent-cards p {
    text-align: center;
}

.testimony {
    background-color: #E5E7EB;
    border: 1px solid red;
}

.testimony .container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimony .fanquote {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}

.testimony .fan {
    font-size: 24px;
    font-weight: 900;
    align-self: flex-end;
}